* {
    padding: 0;
    margin: 0;
}

body {
    background: #f0f0f0;
}

.featured {
    min-width: 100%;
    max-width: 100%;
    display: block;
}

.bold-heading {
    font-family: 'Anton', sans-serif;
}







span {
    font-size: 10px;
}

/*.circle {*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*}*/

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
    color: white;
    border: 5px solid white;

}



.section-bottom {
    font-family: 'Abel', sans-serif;
}

.featured-text {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.circle {
    background: gold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}


.btn-1 {
    background-color: #e5563a;
}

.btn-2 {
    background-color: #eb9c39;
}

.btn-3 {
    background-color: #7aae6b;
}

.btn-4 {
    background-color: #00aaa9;
}


.d1-circle {
    background: #e5563a;

}

.d2-circle {
    background: #eb9c39;

}

.s-circle {
    background: #7aae6b;


}

.h-circle {
    background: #00aaa9;


}




